body{
    margin: 0;
    padding: 0;
}

img{
    width: 100vw;
    height: 100dvh;
    object-fit: cover;
    position: fixed;
}

main{
    height: 300dvh;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    z-index: 1;
}

.introduction{
    position: absolute;
    top: 213dvh;
    left: 10%;
    width: 50vw;
    height: 75dvh;
    border-radius: 20px;
    /*background-color: rgba(200, 200, 200, 0.05);*/
    box-shadow: inset 0 0 15px rgba(135, 135, 135, .1), 0 0 18px 3px rgba(0, 0, 0, .3);
}

.introduction p{
    font-family: "WDXL Lubrifont JP N", sans-serif;
    color: white;
    padding: 5px 30px 10px 30px;
    font-size: 25px;
    text-align: justify;

    min-height: 2em;
}

.introduction h1,h2{
    font-family: "WDXL Lubrifont JP N", sans-serif;
    color: white;
    padding: 0px 30px;
    font-weight: bold;
    font-size: 30px;
}

::-webkit-scrollbar{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #111; 
}
